
.messages {
    padding: 10px 5px;
    color: white;
}
.contactImage {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.message{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 15px 0px;
    text-align:center;

}

.textMessage{
    margin: 0px 15px;
    padding: 10px 20px 10px 10px;

    background-color: white;
    color: black;

    border-radius: 10px;

}

.name{
    font-size: 13px;
}

